<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Categorias
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Categoria {$category.descategory}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/eco/index.php/admin/categories/{$category.idcategory}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="descategory">Nome da categoria</label>
              <input type="text" class="form-control" id="descategory" name="descategory" placeholder="Digite o nome da categoria" value="{$category.descategory}">
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->

<section class="content">

  <div class="row">
      <div class="col-md-6">
          <div class="box box-primary">
              <div class="box-header with-border">
              <h3 class="box-title">Todos os Produtos</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="box-body">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                          <th style="width: 10px">#</th>
                          <th>Nome do Produto</th>
                          <th style="width: 240px">&nbsp;</th>
                          </tr>
                      </thead>
                      <tbody>
                          {loop="$productsNotRelated"}
                          <tr>
                          <td>{$value.idproduct}</td>
                          <td>{$value.desproduct}</td>
                          <td>
                              <a href="/eco/index.php/admin/categories/{$category.idcategory}/products/{$value.idproduct}/add" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-right"></i> Adicionar</a>
                          </td>
                          </tr>
                          {/loop}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="box box-success">
              <div class="box-header with-border">
              <h3 class="box-title">Categoria {$category.descategory}</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <div class="box-body">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                          <th style="width: 10px">#</th>
                          <th>Nome do Produto</th>
                          <th style="width: 240px">&nbsp;</th>
                          </tr>
                      </thead>
                      <tbody>
                          {loop="$productsRelated"}
                          <tr>
                          <td>{$value.idproduct}</td>
                          <td>{$value.desproduct}</td>
                          <td>
                              <a href="/eco/index.php/admin/categories/{$category.idcategory}/products/{$value.idproduct}/remove" class="btn btn-primary btn-xs pull-right"><i class="fa fa-arrow-left"></i> Remover</a>
                          </td>
                          </tr>
                          {/loop}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>        
  </div>

</section>
</div>
<!-- /.content-wrapper -->